In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3], name = 'number')

0    1
1    2
2    3
Name: number, dtype: int64

In [3]:
pd.read_csv('test1.csv')

   cola  colb
0     1    10
1     2    20
2     3    30